<section id="employment" class="section experiences-section">
  <h2 class="section-title">
    <span class="title-icon"><i class="fas fa-briefcase"></i></span>
    <span>Employment History</span>
  </h2>
  {{#each r.employment.history}}
  <div class="item {{key}}">
    <header class="meta">
      <div class="upper-row">
        <h3 class="job-title">{{ position }}</h3>
        <p class="time">{{moment start format="MMMM YYYY"}} — {{moment end format="MMMM YYYY"}}</p>
      </div>
      <div class="company">{{ employer }}</div>
    </header>
    <div class="details">
      {{#markdown}}{{{summary}}}{{/markdown}}
      {{#if highlights}}
      <div class="highlights">
        <h5 class="highlights-header">Highlights</h5>
        <ul class="highlights-list">
          {{#each highlights}}
            <li class="bullet">{{{this}}}</li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </div>
  </div>
  {{/each}}
</section>
