<section id="testimonials" class="section testimonials-section">
  <h2 class="section-title">
    <span class="title-icon"><i class="fas fa-bullhorn"></i></span>
    <span>Testimonals</span>
  </h2>
  {{#each r.testimonials}}
  <div class="item">
    <header class="meta">
      <div class="upper-row">
        <img class="avatar" src="https://www.clintandrewhall.com{{imageSrc}}" alt="{{name}}" />
        <h3 class="person-name">{{ name }}</h3>
        <h4 class="person-title">{{title}}</h4>
        <p class="person-connection">{{connection}}</p>
      </div>
    </header>
    <blockquote class="details">
      {{#markdown}}{{{quote}}}{{/markdown}}
    </blockquote>
  </div>
  {{/each}}
</section>
