<section id="writing" class="section writing-section">
  <h2 class="section-title">
    <span class="title-icon"><i class="fas fa-pencil-alt"></i></span>
    <span>Writing</span>
  </h2>
  {{#each r.writing}}
  <div class="item">
    <header class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          <a target="_blank" href="{{url}}">{{title}}</a>
        </h3>
        <p class="time">{{moment date format="MMMM YYYY"}}</p>
      </div>
      <div class="company">
        <a target="_blank" href="{{publisher.url}}">{{publisher.name}}</a>
      </div>
    </header>
    <div class="details">
      {{#markdown}}{{{summary}}}{{/markdown}}
    </div>
  </div>
  {{/each}}
</section>
